#composeTweet {
  border-bottom: 1px solid black;
  margin-left: 24px;
  margin-right: 24px;
  padding: 4px;
}

.container {
  width: 80%;
}

.new-tweet {
  margin: 2em;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;

}

.counter {
  text-align: right;
  position: absolute;
  right: 0;
  padding: 24px;
}

.btn {
  margin: 24px;
}

.text {
  width: 90%;
  margin-left: 24px;
  margin-right: 36px;
}
