.new-tweet {
  margin: 2em;
  height: 200px;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;

}

.new-tweet #composeTweet {
  border-bottom: 1px solid black;
  width: 340px;
  margin-left: 24px;
  margin-right: 24px;
  padding: 4px;
}

.new-tweet .text {
  width: 340px;
  margin-left: 24px;
  margin-right: 36px;
}

.new-tweet .counter {
  text-align: right;
  position: absolute;
  right: 0;
  padding: 24px;
}

.btn {
  margin: 24px;
}
