.new-tweet {
  margin: 2em;
  height: 200px;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px
}

.new-tweet #composeTweet {
  border-bottom: 1px solid black;
  width: 340px;
  padding: 4px;
}

.new-tweet .text {
  width: 340px;
}

.new-tweet .counter {
  margin-right: 24px;
  float: right;
}
